#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
  combo_##NAME { \
      timeout-ms = <TERM>; \
      bindings = <BINDINGS>; \
      key-positions = <KEYPOS>; \
      layers = <LAYERS>; \
      require-prior-idle-ms = <QUICKTAP>; \
      __VA_ARGS__ \
  };

/{
  combos {
    compatible = "zmk,combos";

    COMBO(tab,               &kp TAB,            14 15,            MAIN,       40, 100)
    COMBO(enter,             &kp ENTER,          28 29,            MAIN,       40, 120)
    COMBO(backspace,         &kp BKSP,           18 19,            MAIN,       40, 100)
    COMBO(apostrophe,        &kp APOS,           8 9,              MAIN,       40, 100)
    COMBO(copy,              &kp LG(C),          23 24,            MAIN,       50, 120)
    COMBO(cut,               &kp LG(X),          23 25,            MAIN,       40, 120)
    COMBO(paste,             &kp LG(V),          24 25,            MAIN,       50, 120)
    
    
  };
};



/ {

    combos {
        
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp TAB>;
        };

        combo_bksp {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp BKSP>;
        };

        combo_enter {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp ENTER>;
        };
        
        combo_apost {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp APOS>;
        };

        combo_copy {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp LG(C);
        };

        combo_cut {
            timeout-ms = <50>;
            key-positions = <23 25>;
            bindings = <&kp LG(X);
        };

        combo_paste {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp LG(V)>;
        };
    
    };