
/* KEY POSITIONS (using keypos_def helpers)
╭─────────────────────────┬─────────────────────────╮
│ LT5 LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 RT5 │
│ LM4 LM3 LM2 LM1 LM0     │     RM0 RM1 RM2 RM3 RM4 │
│ LB4 LB3 LB2 LB1 LB0     │     RB0 RB1 RB2 RB3 RB4 │
│ LH4 LH3 LH2 LH1 LH0     │     RH0 RH1 RH2 RH3 RH4 │
╰─────────────────────────┴─────────────────────────╯       */


#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP, ...) \
  combo_##NAME { \
      timeout-ms = <TERM>; \
      bindings = <BINDINGS>; \
      key-positions = <KEYPOS>; \
      layers = <LAYERS>; \
      require-prior-idle-ms = <QUICKTAP>; \
      __VA_ARGS__ \
  };

/{
  combos {
    compatible = "zmk,combos";
    COMBO(apostrophe,        &kp APOS,           RT2 RT3,            MAIN,       40, 100)
    COMBO(backspace,         &kp BKSP,           RM1 RM2,            MAIN,       40, 100)
    COMBO(copy,              &kp LG(C),          LB3 LB2,            MAIN,       50, 120)
    COMBO(paste,             &kp LG(V),          LB2 LB1,            MAIN,       50, 120)
    COMBO(enter,             &kp ENTER,          RB1 RB2,            MAIN,       40, 120)
    COMBO(cut,               &kp LG(X),          LB3 LB1,            MAIN,       40, 120)
  };
};