#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>


#define MAIN 0
#define NUM 1
#define SYM 2
#define MED 3
#define GAME 4

#include "combos.dtsi"

/ { 
    conditional_layers {
      compatible = "zmk,conditional-layers";
      tri_layer {
          if-layers = <NUM SYM>;
          then-layer = <MED>;
      };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>; 
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
        };
    };


    keymap {
        compatible = "zmk,keymap";
        
        MAIN_layer {
          display-name = "Default";
            bindings = <
&kp Q        &kp W       &kp E       &kp R         &kp T      &kp ESC      &mkp MCLK    &kp Y       &kp U         &kp I        &kp O       &kp P     
&hm LCTRL A  &hm LALT S  &hm LGUI D  &hm LSHFT F   &kp G                                &kp H       &hm RSHFT J   &hm RGUI K   &hm RALT L  &hm RCTRL SEMICOLON            
&kp Z        &kp X       &kp C       &kp V         &kp B                                &kp N       &kp M         &kp COMMA    &kp DOT     &kp FSLH
&kp CAPS     &kp ESC     &kp CAPS    &lt 1 SPACE   &mkp LCLK                            &mkp RCLK   &lt 2 ENTER   &kp CAPS     &kp ESC     &tog 4
>;
        };

       NUM {
            bindings = <
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &trans    &trans   &kp N6    &kp N7    &kp N8    &kp N9      &kp N0     
&trans  &trans  &trans  &trans  &trans                       &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT   &trans        
&trans  &trans  &trans  &trans  &trans                       &trans    &trans    &kp DOWN  &trans      &trans  
&trans  &trans  &trans  &trans  &kp LG(TAB)                  &kp LG(LS(TAB))    &trans    &trans    &trans      &trans
>;
       };

       SYM {
            bindings = <
&kp GRAVE     &kp CARET     &kp POUND     &kp AMPS      &kp PIPE     &trans    &trans   &kp PLUS    &kp LBRC   &kp RBRC   &kp MINUS  &kp EQUAL     
&kp EXCL      &kp QMARK     &kp COLON     &kp EQUAL     &kp DLLR                        &kp MINUS   &kp LPAR   &kp RPAR   &kp LT     &kp GT             
&kp PRCNT     &kp AT        &kp STAR      &kp PLUS      &kp BSLH                        &kp AT      &kp LBKT   &kp RBKT   &trans     &trans 
&trans        &trans        &trans        &trans        &trans                          &trans      &trans     &trans     &trans     &trans
>;

        };

       MED {
            bindings = <
&trans  &trans  &trans        &trans        &trans    &trans    &trans   &kp C_PREV  &kp C_NEXT    &kp K_MUTE     &trans      &trans     
&trans  &trans  &kp C_BRI_DN  &kp C_BRI_UP  &trans                       &trans      &kp K_VOL_UP  &kp K_VOL_DN   &trans      &trans        
&trans  &trans  &trans        &trans        &trans                       &trans      &trans        &trans         &trans      &trans  
&trans  &trans  &trans        &trans        &trans                       &trans      &trans        &trans         &trans      &trans
>;
       };

        GAME {
            bindings = <
&kp N1     &kp N2   &kp N3      &kp N4     &kp N5     &kp ESC      &kp ESC      &lt 1 CAPS   &kp N1      &kp UP    &kp MINUS  &kp PLUS     
&kp ESC    &kp DOT  &kp W       &kp E      &kp G                                &kp F10      &kp LEFT    &kp DOWN  &kp RIGHT  &kp N9            
&kp LSHFT  &kp A    &kp S       &kp D      &lt 1 CAPS                           &kp F3       &kp F1      &trans    &trans     &trans
&kp LCTRL  &kp F3   &kp COMMA   &kp SPACE  &mkp LCLK                            &kp F12      &kp ENTER    &kp CAPS  &kp ESC   &tog 4
>;
       };
    };
};
